*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

nav{
    margin: auto;
    background-color: orange;
    font-size: 20px;
    margin-top: 50px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}


.menu-vertical{
    text-align: center;
    width: 150px;
    position: absolute;
    display: none;
    list-style: none;
    border-left: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: orange;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: orange;
}

.menu-vertical li a{
    display: block;
    color: black;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}